##### LOCAWEB - NAO REMOVER #####
AddHandler php74-script .php
suPHP_ConfigPath /home/davidreysadvocac2/
##### LOCAWEB - NAO REMOVER #####

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "\.(htm|html|css|js)$">
    AddDefaultCharset UTF-8
</FilesMatch>
